.row
	.twocol
	%div{:class => "eightcol last"}

		%h2 Welcome
		
		- if (@logged_in)
			%p You're logged in! Check the <a href="/dashboard">Dashboard</a> or <a href="javascript:void(0)" onclick="logout()">Log out?</a>
		- else
			%p You're not logged in. <a href="/login">Do so now?</a>
		%br
		%br
		%br
		%br
		%br
		%br
		%br
		%br
		%br
		%br
		%br
		%br
		%br
		%br
		%br
		%br
		%br
		%br
		%br
		%br
		%br
		%br
		%br
		%br
		%br
		%br
		%br
		%br
		%br
		%br
		%br
		%br
		%br
		%br
		%br
		%br
		